.app-wrapper {
  @media only screen and (max-width:var(--breakpoint-xl)) {
    width: 100%;
    max-width: 100%;
    margin: 0;
  }
}

.header {
  .navbar {
    background-color: #fff;
    border-bottom: var(--color-grey);
  }
}

.app-content {
  // display: flex;
  // padding: 1.5rem 1.5rem;

  @media only screen and (max-width:var(--breakpoint-lg)) {
    flex-direction: column;
  }
}


.section {
  margin-top: 1rem;
}